@charset "windows-1251";

@media screen and (min-width: 800px) {
    header{
        width:100%;
    }
    nav{
        width: 100%;
        flex-direction: row;
    }
}
@media screen and (orientation: portrait) {
    header{
        width:100%;
    }
    nav{
        width: 100%;
        flex-direction: column;
    }
    .container, .container1, .container2 {
        width: 90%;
    }
}
header h1{
    margin:auto;
}
.container-form-table {
	display:flex;
	flex-direction: column;
}

.container1 {
    text-align: center;
    flex-direction: column;
    order:2;
}
.container1 table{
    margin:auto;
}
.container2{
    text-align: center;
    flex-direction: column;
    order:1;
}
.container2 form{
    margin:auto;
}
.forexample {
    font-size: 30px;
    margin:auto;
	color:navy;
    text-align: center; 
	}
	
body {
	background-color: #4b5591;
	margin:auto;
	display: flex;
    flex-direction: column;
	}
	
#logo {
	float:left; 
	margin:10px;
	width:80px; 
	height:80px;
	}
	
header {
    display: flex;
    margin:auto;
    width:100%;
	background-image: url(Header.jpg);
    background-size: 100%;
    height: 120px;
    box-shadow: 0px 0px 10px grey;
    }
	
nav{
    display:flex;
	text-align: center;
	background-color: #ffd49d;
	list-style-type: none;
	box-shadow: 0px 0px 10px grey;
    width: 100%;
    }
nav a{
    margin:auto;
}
	
.style {
	color: maroon;
    font-size: 25px;
    text-decoration-line: none;
    }
	
.container, .container1, .container2 {
    display: flex;
    margin: auto;
    background-color: #ffd49d;
    width:90%;
    }
.container ol{
    margin:auto;
    width:90%;
}

footer {
    color: #041364;
	font-size: 25px;
    background-color: #fd7d03;
    height: 50px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: right;
    font-style: normal;
    width: 100%;
    }

.nechet {
    background-color: orange;
    }

.chet {
    background-color: blue;
    }

